<div class="col-md-4 col-sm-6" ng-model="cardData" style="height:350px;overflow:auto">
    <div class="panel panel-default">
        <div class="notification-item">
            <ul class="nav nav-pills" role="tablist">

                <!--<li><span class="badge badge-red" data-toggle="tooltip" title="pull request">3</span></li>-->
                <li><span class="badge badge-red" data-toggle="tooltip" title="commit" ng-show="{{cardData.NewCommitsHistory}}>0" >{{cardData.NewCommitsHistory}}</span></li>
            </ul>
        </div>
        <div class="panel-heading">


            <h5><a href="{{cardData.Link}}">  {{cardData.Title}}</a></h5>

        </div>
        <div class="panel-body">

            <div class="clearfix"></div>
            <div style="height:100px;overflow:auto">{{cardData.Description | limitTo: 250}}{{cardData.Description.length>250?'...':''}}</div>

            <hr>
            <div>
                <a href="#">{{cardData.Author}}</a>
            </div>
        </div>
        <div class="panel-footer">

            <span ng-repeat="product in cardData.Products" class="label label-primary">{{product}}</span>

            <span ng-repeat="platform in cardData.Platforms" class="label label-success">{{platform}}</span>

        </div>
    </div>
</div>