

<div id="page-wrapper">
    <!--<div class="row">
        <div class="col-lg-12">

            <h1 class="page-header">GitHub</h1>
        </div>
    </div>-->

    <!--<div class="row">
        <div class="col-md-12" ng-controller="gitController">
          
            <input type="button" value="click test" ng-click="alertME()" />
        </div>
    </div>-->
    <div class="row" ng-controller="gitController">
        <!--search bar-->
        <div class="col-lg-12 panel">
            <div class="col-lg-6 form-inline">
                <label>PlatForm</label>
                <select class="input-large form-control">
                    <option value="">Select a State</option>
                    <option value="AL" selected="selected">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
                <label>PlatForm</label>
                <select class="input-large form-control">
                    <option value="">Select a State</option>
                    <option value="AL" selected="selected">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                </select>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <!--cards list-->
        <card  ng-repeat="sample in samples" card-data="sample" ></card>
    
       

        <!--pagination-->
        <div class="col-lg-12 text-center">
            <nav>
                <ul class="pagination">
                    <li>
                        <!--<a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>-->
                        <span style="cursor:pointer;" ng-click="getNextPage(1,$event)">&laquo;</span>
                    </li>
                    <li ng-repeat="number in pageNumbers"><span style="cursor:pointer;"  ng-click="getNextPage(number+1,$event)">{{number+1}}</span></li>
                    
                    <li>
                        <!--<a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>-->
                        <span style="cursor:pointer;" ng-click="getNextPage(totalPage,$event)">&raquo;</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>